/fireblast/Debug
/fireblast/FEditor/bin
/fireblast/FEditor/obj
/fireblast/fireblast.audio/Debug
/fireblast/*.sdf
/fireblast/fireblast.color/Debug
/fireblast/ipch
/fireblast/fireblast.physics/Debug
/fireblast/libogg/Debug
/fireblast/libvorbis/Debug
